<div class="navbar bg-base-200 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="{% url 'mostrar_home' %}" class="{% if request.path == '/sga/home/' %} text-primary underline {% endif %}">Home</a></li>
        <li><a href="{% url 'mostrar_personas' %}" class="{% if request.path == '/sga/personas/' %} text-primary underline {% endif %}">Personas</a></li>
        <li><a href="{% url 'mostrar_bautismos' %}" class="{% if request.path == '/sga/bautismos/' %} text-primary underline {% endif %}">Bautismos</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">Sga</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 gap-2">
      <li><a href="{% url 'mostrar_home' %}" class="{% if request.path == '/sga/home/' %} btn btn-sm btn-soft {% endif %}">Home</a></li>
      <li><a href="{% url 'mostrar_personas' %}" class="{% if request.path == '/sga/personas/' %} btn btn-sm btn-soft {% endif %}">Personas</a></li>
      <li><a href="{% url 'mostrar_bautismos' %}" class="{% if request.path == '/sga/bautismos/' %} btn btn-sm btn-soft {% endif %}">Bautismos</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <button onclick="modalCerrarSesion.showModal()" class="btn btn-sm">Cerrar Sesión</button>
  </div>
</div>