<div class="overflow-auto">
    <table class="table table-xs table-bordered border border-base-300 w-full">
        <thead>
            <tr>
                <th class="text-xs">Nombre Completo</th>
                <th class="text-xs hidden md:table-cell">Lugar Nacimiento</th>
                <th class="text-xs hidden md:table-cell">Parroquia</th>
                <th class="text-xs">Fecha Nacimiento</th>
                <th class="text-xs hidden md:table-cell">Info Madre</th>
                <th class="text-xs hidden md:table-cell">Info Padre</th>
                <th class="text-xs hidden lg:table-cell">Fecha Registro</th>
                <th class="text-xs">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if registros|length > 0 %}
                {% for registro in registros %}
                <tr>
                    <td class="p-1 text-xs">{{ registro.nombre }} {{ registro.apellido }}</td>
                    <td class="hidden md:table-cell">{{ registro.lugar_nacimiento }}</td>
                    <td class="hidden md:table-cell">{{ registro.parroquia_pertenencia }}</td>
                    <td>{{ registro.fecha_nacimiento|date:"d/m/Y" }}</td>
                    <td class="hidden md:table-cell">{{ registro.madre_nombre }} {{ registro.madre_apellido }}</td>
                    <td class="hidden md:table-cell">{{ registro.padre_nombre }} {{ registro.padre_apellido }}</td>
                    <td class="hidden lg:table-cell">{{ registro.creacion|date:"d/m/Y"}}</td>
                    <td>
                        <button class="btn btn-xs btn-ghost" data-registro-id="{{ registro.id }}" onclick="mostrarActasRegistro(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-gray-600">
                            <path d="M10.75 16.82A7.462 7.462 0 0 1 15 15.5c.71 0 1.396.098 2.046.282A.75.75 0 0 0 18 15.06v-11a.75.75 0 0 0-.546-.721A9.006 9.006 0 0 0 15 3a8.963 8.963 0 0 0-4.25 1.065V16.82ZM9.25 4.065A8.963 8.963 0 0 0 5 3c-.85 0-1.673.118-2.454.339A.75.75 0 0 0 2 4.06v11a.75.75 0 0 0 .954.721A7.506 7.506 0 0 1 5 15.5c1.579 0 3.042.487 4.25 1.32V4.065Z" />
                            </svg>
                        </button>
                        <button class="btn btn-xs btn-ghost" onclick="mostrarRegistroDetalles({{ registro.id }})">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-gray-600">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <button class="btn btn-xs btn-ghost" data-registro-id="{{ registro.id }}"  onclick="mostrarModificarRegistro(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-gray-600">
                            <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                            <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                            </svg>
                        </button>
                        <button class="btn btn-xs btn-ghost" data-registro-id="{{ registro.id }}" onclick="mostrarEliminarRegistro(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-gray-600">
                            <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </td>
                    
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="8" class="py-5 text-base-50">
                    <div class="flex flex-col items-center justify-center w-full py-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z" />
                    </svg>
                    <span class="mt-2 text-md">No hay registros para mostrar</span>
                    </div>
                </td>
            </tr>

            {% endif %}
        </tbody>
    </table>
      {% if lista_personas.has_other_pages %}
        <div class="flex flex-col items-center justify-center mt-4">
            <p class="text-gray-500 text-sm mb-2">Mostrando {{lista_personas|length}}/{{lista_personas.paginator.count}}</p>

            <div class="join flex">
                {% if lista_personas.has_previous %}
                <a hx-get="{% url 'tabla_personas' %}?page={{ lista_personas.previous_page_number }}&q={{ filtro }}&limit={{ lista_personas.paginator.per_page }}"
                    hx-target="#tabla"
                    class="join-item btn btn-sm">«</a>
                {% endif %}
    
                {% for num in lista_personas.paginator.page_range %}
                {% if lista_personas.number == num %}
                    <button class="join-item btn btn-soft btn-sm btn-primary">{{ num }}</button>
                {% else %}
                    <a hx-get="{% url 'tabla_personas' %}?page={{ num }}&q={{ filtro }}&limit={{ lista_personas.paginator.per_page }}"
                    hx-target="#tabla"
                    class="join-item btn btn-sm">{{ num }}</a>
                {% endif %}
                {% endfor %}
    
                {% if lista_personas.has_next %}
                <a hx-get="{% url 'tabla_personas' %}?page={{ lista_personas.next_page_number }}&q={{ filtro }}&limit={{ lista_personas.paginator.per_page }}"
                    hx-target="#tabla"
                    class="join-item btn btn-sm">»</a>
                {% endif %}
            </div>
        </div>
    {% endif %}


  </div>