<dialog id="modalActasRegistro" class="modal">
    <div class="modal-box w-11/12 bg-base-200">
        <form method="dialog">
            <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
            >
                ✕
            </button>
        </form>
        <div class="flex gap-2 items-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="size-5 text-gray-600"
            >
                <path
                    d="M10.75 16.82A7.462 7.462 0 0 1 15 15.5c.71 0 1.396.098 2.046.282A.75.75 0 0 0 18 15.06v-11a.75.75 0 0 0-.546-.721A9.006 9.006 0 0 0 15 3a8.963 8.963 0 0 0-4.25 1.065V16.82ZM9.25 4.065A8.963 8.963 0 0 0 5 3c-.85 0-1.673.118-2.454.339A.75.75 0 0 0 2 4.06v11a.75.75 0 0 0 .954.721A7.506 7.506 0 0 1 5 15.5c1.579 0 3.042.487 4.25 1.32V4.065Z"
                /></svg

            <h3  class="text-lg font-semibold">
                Actas
            </h3>
        </div>


        <div class="tabs tabs-box border-0 tabs-bottom tabs-xs">
            <input
                type="radio"
                name="tab_registro_acta"
                class="tab"
                aria-label="Bautismo"
                checked="checked"
            />
            <div class="tab-content p-6">
                <form id="formActaBautismo">
                    <fieldset class="fieldset w-full p-4">
                        <legend class="fieldset-legend"></legend>

                        <input
                            type="text"
                            id="registroIdBautismo"
                            name="registro_id"
                            maxlength="100"
                            hidden
                            readonly
                        />

                        <label class="input input-sm w-full">
                            <span class="label w-32">Nombre</span>
                            <input
                                type="text"
                                id="registroBautismo"
                                name="nombre"
                                maxlength="100"
                                readonly
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Libro</span>
                            <input
                                type="text"
                                id="noLibroBautismo"
                                name="no_libro"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Folio</span>
                            <input
                                type="text"
                                id="noFolioBautismo"
                                name="no_folio"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Acta</span>
                            <input
                                type="text"
                                id="noActaBautismo"
                                name="no_acta"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Parroquia</span>
                            <input
                                type="text"
                                id="parroquiaBautismo"
                                name="parroquia_bautismo"
                                maxlength="100"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Fecha</span>
                            <input
                                type="date"
                                id="fechaBautismo"
                                name="fecha_bautismo"
                                maxlength="100"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Sacerdote</span>
                            <input
                                type="text"
                                id="sacerdoteBautismo"
                                name="sacerdote"
                                maxlength="200"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Padrino 1</span>
                            <input
                                type="text"
                                id="padrino1Bautismo"
                                name="padrino_1"
                                maxlength="200"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Padrino 2</span>
                            <input
                                type="text"
                                id="padrino2Bautismo"
                                name="padrino_2"
                                maxlength="100"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>
                    </fieldset>

                    <div class="mt-4 mb-8 px-4 flex gap-2 justify-end">
                        <button
                            id="btnBautismoGuardar"
                            type="submit"
                            class="btn btn-sm btn-primary flex-grow"
                        >
                            Guardar
                        </button>
                        <button
                            id="btnBautismoModificar"
                            type="submit"
                            class="btn btn-sm btn-soft flex-grow"
                        >
                            Actualizar
                        </button>
                        <button
                            id="btnBautismoEliminar"
                            type="button"
                            class="btn btn-sm btn-soft flex-grow"
                            onclick="mostrarEliminarBautismo(this)"
                        >
                            Eliminar
                        </button>
                    </div>
                </form>
            </div>

            <input
                type="radio"
                name="tab_registro_acta"
                class="tab"
                aria-label="Comunión"
            />
            <div class="tab-content p-6">
                <form id="formActaComunion">
                    <fieldset class="fieldset w-full p-4">
                        <legend class="fieldset-legend"></legend>

                        <input
                            type="text"
                            id="registroIdComunion"
                            name="registro_id"
                            maxlength="100"
                            hidden
                            readonly
                        />

                        <label class="input input-sm w-full">
                            <span class="label w-32">Nombre</span>
                            <input
                                type="text"
                                id="registroComunion"
                                name="nombre"
                                maxlength="100"
                                readonly
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Libro</span>
                            <input
                                type="text"
                                id="noLibroComunion"
                                name="no_libro"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Folio</span>
                            <input
                                type="text"
                                id="noFolioComunion"
                                name="no_folio"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Acta</span>
                            <input
                                type="text"
                                id="noActaComunion"
                                name="no_acta"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Parroquia</span>
                            <input
                                type="text"
                                id="parroquiaComunion"
                                name="parroquia_comunion"
                                maxlength="100"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Fecha</span>
                            <input
                                type="date"
                                id="fechaComunion"
                                name="fecha_comunion"
                                maxlength="100"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Parroco</span>
                            <input
                                type="text"
                                id="parrocoComunion"
                                name="parroco"
                                maxlength="200"
                                required
                            />
                        </label>
                    </fieldset>

                    <div class="mt-4 mb-8 px-4 flex gap-2 justify-end">
                        <button
                            id="btnComunionGuardar"
                            type="submit"
                            class="btn btn-sm btn-soft flex-grow"
                        >
                            Guardar
                        </button>
                        <button
                            id="btnComunionModificar"
                            type="submit"
                            class="btn btn-sm btn-soft flex-grow"
                        >
                            Actualizar
                        </button>
                        <button
                            id="btnComunionEliminar"
                            type="button"
                            class="btn btn-sm btn-soft flex-grow"
                            onclick="mostrarEliminarComunion(this)"
                        >
                            Eliminar
                        </button>
                    </div>
                </form>
            </div>

            <input
                type="radio"
                name="tab_registro_acta"
                class="tab"
                aria-label="Confirmación"
            />
            <div class="tab-content p-6">
                <form id="formActaConfirmacion">
                    <fieldset class="fieldset w-full p-4">
                        <legend class="fieldset-legend"></legend>

                        <input
                            type="text"
                            id="registroIdConfirmacion"
                            name="registro_id"
                            maxlength="100"
                            hidden
                            readonly
                        />

                        <label class="input input-sm w-full">
                            <span class="label w-32">Nombre</span>
                            <input
                                type="text"
                                id="registroConfirmacion"
                                name="nombre"
                                maxlength="100"
                                readonly
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Libro</span>
                            <input
                                type="text"
                                id="noLibroConfirmacion"
                                name="no_libro"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Folio</span>
                            <input
                                type="text"
                                id="noFolioConfirmacion"
                                name="no_folio"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Acta</span>
                            <input
                                type="text"
                                id="noActaConfirmacion"
                                name="no_acta"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Parroquia</span>
                            <input
                                type="text"
                                id="parroquiaConfirmacion"
                                name="parroquia_confirmacion"
                                maxlength="100"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Fecha</span>
                            <input
                                type="date"
                                id="fechaConfirmacion"
                                name="fecha_confirmacion"
                                maxlength="100"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Obispo</span>
                            <input
                                type="text"
                                id="obispoConfirmacion"
                                name="obispo"
                                maxlength="200"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Parroco</span>
                            <input
                                type="text"
                                id="parrocoConfirmacion"
                                name="parroco"
                                maxlength="200"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Padrino / Madrina</span>
                            <input
                                type="text"
                                id="padrinoConfirmacion"
                                name="padrino"
                                maxlength="200"
                                required
                            />
                        </label>
                    </fieldset>

                    <div class="mt-4 mb-8 px-4 flex gap-2 justify-end">
                        <button
                            id="btnConfirmacionGuardar"
                            type="submit"
                            class="btn btn-sm btn-primary flex-grow"
                        >
                            Guardar
                        </button>
                        <button
                            id="btnConfirmacionModificar"
                            type="submit"
                            class="btn btn-sm btn-soft flex-grow"
                        >
                            Actualizar
                        </button>
                        <button
                            id="btnConfirmacionEliminar"
                            type="button"
                            class="btn btn-sm btn-soft flex-grow"
                            onclick="mostrarEliminarConfirmacion(this)"
                        >
                            Eliminar
                        </button>
                    </div>
                </form>
            </div>

            <input
                type="radio"
                name="tab_registro_acta"
                class="tab"
                aria-label="Matrimonio"
            />
            <div class="tab-content p-6">
                <form id="formActaConfirmacion">
                    <fieldset class="fieldset w-full p-4">
                        <legend class="fieldset-legend"></legend>

                        <input
                            type="text"
                            id="registroIdMatrimonio"
                            name="registro_id"
                            maxlength="100"
                            hidden
                            readonly
                        />

                        <label class="input input-sm w-full">
                            <span class="label w-32" id="contrayente1MatrimonioLabel">Contrayente</span>
                            <input
                                type="text"
                                id="contrayente1Matrimonio"
                                name="contrayente1"
                                maxlength="100"
                                readonly
                                required
                            />
                        </label>

                        <input id="idContrayente2Matrimonio" readonly>
                        <div class="join w-full">
                          <div class="w-full">
                            <div>
                                <label class="input input-sm join-item w-full">
                                    <span class="label w-32" id="contrayente2MatrimonioLabel">Contrayente</span>
                                    <input
                                        type="text"
                                        id="contrayente2Matrimonio"
                                        name="contrayente2"
                                        maxlength="100"
                                        readonly
                                        required
                                    />
                                </label>
                            </div>
                          </div>
                          <div class="indicator">
                            <button class="btn btn-sm join-item" type="button" onclick="mostrarModalContrayente()">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
                                </svg>
                            </button>
                          </div>
                        </div>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Libro</span>
                            <input
                                type="text"
                                id="noLibroMatrimonio"
                                name="no_libro"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Folio</span>
                            <input
                                type="text"
                                id="noFolioMatrimonio"
                                name="no_folio"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">No. Acta</span>
                            <input
                                type="text"
                                id="noActaMatrimonio"
                                name="no_acta"
                                pattern="\d+"
                                title="Formato inválido, ingrese solo números"
                                maxlength="10"
                            />
                            <span class="badge badge-neutral badge-xs"
                                >Opcional</span
                            >
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Testigo 1</span>
                            <input
                                type="text"
                                id="testigo1Matrimonio"
                                name="testigo_1"
                                maxlength="200"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Testigo 2</span>
                            <input
                                type="text"
                                id="testigo2Matrimonio"
                                name="testigo_2"
                                maxlength="200"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Parroquia</span>
                            <input
                                type="text"
                                id="parroquiaMatrimonio"
                                name="parroquia_matrimonio"
                                maxlength="100"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Fecha</span>
                            <input
                                type="date"
                                id="fechaMatrimonio"
                                name="fecha_matrimonio"
                                maxlength="100"
                                required
                            />
                        </label>

                        <label class="input input-sm w-full">
                            <span class="label w-32">Parroco</span>
                            <input
                                type="text"
                                id="parrocoMatrimonio"
                                name="parroco"
                                maxlength="200"
                                required
                            />
                        </label>

                    </fieldset>

                    <div class="mt-4 mb-8 px-4 flex gap-2 justify-end">
                        <button
                            id="btnMatrimonioGuardar"
                            type="submit"
                            class="btn btn-sm btn-primary flex-grow"
                        >
                            Guardar
                        </button>
                        <button
                            id="btnMatrimonioModificar"
                            type="submit"
                            class="btn btn-sm btn-soft flex-grow"
                        >
                            Actualizar
                        </button>
                        <button
                            id="btnMatrimonioEliminar"
                            type="button"
                            class="btn btn-sbtn-soft flex-grow"
                            onclick=""
                        >
                            Eliminar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>
