{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock title %}</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/build/output.css' %}"
        />
        <script src="{% static 'js/htmx.min.js' %}"></script>
        <script src="{% static 'js/sweetalert2.js' %}"></script>
    </head>
    <body>
        {% block content %} {% endblock content %}
        {% block scripts %}{%endblock scripts %}
    </body>
</html>
