{% extends 'base.html' %} 
{% load static %}
{% block title %}Página de Personas{% endblock %} 
{% block content %}
<main class="container bg-base-50 min-w-screen min-h-screen">
  {% include 'partials/navbar.html' %}

  <div class="my-6 px-5 flex justify-end gap-2">
    <label class="input input-sm validator w-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 stat-title">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>

        <input name="q" placeholder="Buscar" hx-get="{% url "tabla_personas" %}" hx-target="#tabla" hx-trigger="keyup changed delay:300ms">
      </label>
    <button class="btn btn-sm btn-primary" onclick="modalRegistrarPersona.showModal()">Nuevo</button>
  </div>
  <div id="tabla" hx-get="{% url "tabla_personas" %}" hx-trigger="load">
    <!-- Aquí se renderiza la tabla desde una vista parcial -->
  </div>


{% include 'components/modal_registrar_persona.html' %}
{% include 'components/modal_modificar_persona.html' %}
{% include 'components/modal_detalle_persona.html' %}
{% include 'components/modal_eliminar_persona.html' %}
{% include 'components/modal_cerrar_sesion.html' %}

</main>
{% endblock %}
{% block scripts %}
    <script>
        const detallePersonaURL = '{% url "detalle_persona" 0 %}';
        const guardarPersonaURL = '{% url "guardar_persona" %}';
        const modificarPersonaURL = '{% url "modificar_persona" %}';
        const eliminarPersonaURL = '{% url "eliminar_persona" 0 %}'
        const tablaPersonaURL = '{% url "tabla_personas" %}';
        const csrfToken = '{{ csrf_token }}';
    </script>
    <script type="module" src="{% static 'js/personas_script.js' %}">
    </script>
{% endblock %}